<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Кредитный калькулятор</title>
</head>
<body>
    <h1>Кредитный калькулятор</h1>
    <h3>Параметры кредита</h3>
    <form method="post" th:object="${creditParameters}">
        <label th:for="sum">Сумма кредита в руб.</label>
        <input type="text" th:field="*{sum}">
        <span class="validationError"
              th:if="${#fields.hasErrors('sum')}"
              th:errors="*{sum}">Sum Error</span>
        <br/>

        <label th:for="term">Срок кредита в месяцах</label>
        <select th:field="*{term}">
            <option th:each="term: ${terms}" th:value="${term}" th:text="${term}"></option>
        </select>
        <span class="validationError"
              th:if="${#fields.hasErrors('term')}"
              th:errors="*{term}">Term Error</span>
        <br/>

        <label th:for="annualRate">Годовая процентная ставка</label>
        <select th:field="*{annualRate}">
            <option th:each="annualRate: ${annualRates}" th:value="${annualRate}" th:text="${#numbers.formatDecimal(annualRate, 0, 1)}"></option>
        </select>
        <span class="validationError"
              th:if="${#fields.hasErrors('annualRate')}"
              th:errors="*{annualRate}">Annual rate error</span>
        <br/>

        <button>Рассчитать</button>
    </form>
</body>
</html>