<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Кредитный калькулятор</title>
</head>
<body>
<h1>Кредитный калькулятор</h1>
<h3>Параметры кредита</h3>
<div>
    <label th:text="'Сумма кредита в руб ' + ${creditParameters.sum}"></label>
    <br/>
    <label th:text="'Срок кредита в месяцах ' + ${creditParameters.term}"></label>
    <br/>
    <label th:text="'Годовая ставка в % ' + ${#numbers.formatDecimal(creditParameters.annualRate, 0, 1)}"></label>
</div>
<h3>Аннуитентный график погашения кредита</h3>
<table>
    <thead>
        <tr>
            <th>Номер платежа</th>
            <th>Дата платежа</th>
            <th>Платеж по основному долгу, руб.</th>
            <th>Платеж по процентам, руб.</th>
            <th>Остаток основного долга, руб.</th>
            <th>Общая сумма платежа, руб.</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="creditPayment : ${creditPayments}">
            <td><span th:text="${creditPayment.number}">Number</span></td>
            <td><span th:text="${creditPayment.date}">Date</span></td>
            <td><span th:text="${#numbers.formatDecimal(creditPayment.principalPayment, 0, 2)}">Principal payment</span></td>
            <td><span th:text="${#numbers.formatDecimal(creditPayment.interestPayment,0, 2)}">Interest payment</span></td>
            <td><span th:text="${#numbers.formatDecimal(creditPayment.principalBalance, 0, 2)}">Principal balance</span></td>
            <td><span th:text="${#numbers.formatDecimal(creditPayment.totalPayment, 0, 2)}">Total payment</span></td>
        </tr>
    </tbody>
</table>
<form th:action="@{/}">
    <button>Назад</button>
</form>
</body>
</html>